/* Frame */

position: relative;
width: 1200px;
height: 5433px;

background: #FFFFFF;


/* Rectangle */

position: absolute;
width: 158px;
height: 54px;
left: 983px;
top: 15px;

background: #6157AB;
border-radius: 5px;


/* Rectangle */

position: absolute;
width: 158px;
height: 54px;
left: 60px;
top: 542px;

background: #6157AB;
border-radius: 5px;


/* Rectangle */

position: absolute;
width: 93px;
height: 1px;
left: 265.5px;
top: 586.5px;

background: #6157AB;


/* Rectangle */

position: absolute;
width: 93px;
height: 35px;
left: 266px;
top: 552px;

border-radius: 0px;


/* IMAGE */

position: absolute;
width: 648px;
height: 743px;
left: 626px;
top: 167px;

background: url(.png);
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 648px;
height: 743px;
left: 626px;
top: 167px;

background: url(.png);
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 648px;
height: 743px;
left: 626px;
top: 167px;

background: url(.png);
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 648px;
height: 743px;
left: 626px;
top: 167px;

background: url(.png);
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 648px;
height: 743px;
left: 626px;
top: 167px;

background: url(.png);
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 128px;
height: 18px;
left: 60px;
top: 797px;

background: url(.png);
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 107px;
height: 107px;
left: 188px;
top: 753px;

background: url(.png);
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 114px;
height: 114px;
left: 295px;
top: 749px;

background: url(.png);
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 116px;
height: 116px;
left: 409px;
top: 748px;

background: url(.png);
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 115px;
height: 115px;
left: 525px;
top: 749px;

background: url(.png);
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 1200px;
height: 2227px;
left: 0px;
top: 909px;

background: #F5F4F2;
border-radius: 0px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 214px;
height: 60px;
left: 105px;
top: 1093px;

background: #ECEAF8;
border: 1px solid #6157AB;
border-radius: 6.8px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 124px;
height: 60px;
left: 345px;
top: 1093px;

background: #FFFFFF;
border: 1px solid #AAB8BF;
border-radius: 6.8px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 213px;
height: 60px;
left: 494px;
top: 1093px;

background: #FFFFFF;
border: 1px solid #AAB8BF;
border-radius: 6.8px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 132px;
height: 60px;
left: 733px;
top: 1093px;

background: #FFFFFF;
border: 1px solid #AAB8BF;
border-radius: 6.8px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 204px;
height: 60px;
left: 891px;
top: 1093px;

background: #FFFFFF;
border: 1px solid #AAB8BF;
border-radius: 6.8px;


/* Rectangle */

position: absolute;
width: 1080px;
height: 914px;
left: 60px;
top: 1208px;

background: #FFFFFF;
border-radius: 19px 19px 0px 0px;


/* IMAGE */

position: absolute;
width: 466px;
height: 494px;
left: 134px;
top: 1283px;

background: url(.png);
border-radius: 0px 70px 70px 70px;


/* Rectangle */

position: absolute;
width: 381px;
height: 1px;
left: 685px;
top: 1282px;

background: #C9D3D9;


/* Rectangle */

position: absolute;
width: 381px;
height: 494px;
left: 685px;
top: 1283px;

border-radius: 0px;


/* Rectangle */

position: absolute;
width: 223px;
height: 54px;
left: 685px;
top: 1723px;

background: #6157AB;
border-radius: 5px;


/* Rectangle */

position: absolute;
width: 932px;
height: 1px;
left: 134px;
top: 1862px;

background: #C9D3D9;
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 70px;
height: 70px;
left: 211px;
top: 1928px;

background: #574D9C;
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 20px;
height: 34px;
left: 236px;
top: 1946px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 3.09%;
right: 3.09%;
top: 1.22%;
bottom: 1.19%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Rectangle */

position: absolute;
width: 70px;
height: 70px;
left: 565px;
top: 1928px;

background: #574D9C;
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 32px;
height: 36px;
left: 584px;
top: 1945px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 11.34%;
right: 26.75%;
top: 16.43%;
bottom: 28.5%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 60.51%;
right: 11.32%;
top: 2.75%;
bottom: 72.03%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 1.67%;
right: 1.65%;
top: 80.09%;
bottom: 2.72%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Rectangle */

position: absolute;
width: 70px;
height: 70px;
left: 919px;
top: 1928px;

background: #574D9C;
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 36px;
height: 42px;
left: 936px;
top: 1942px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 0.75%;
right: 0.87%;
top: 1.78%;
bottom: 1.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 15.29%;
right: 15.32%;
top: 64.01%;
bottom: 13.66%;

background: #574D9C;


/* Vector */

position: absolute;
left: 33.54%;
right: 33.62%;
top: 36.39%;
bottom: 2.64%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Rectangle */

position: absolute;
width: 1080px;
height: 1014px;
left: 60px;
top: 2122px;

background: #E3E6F9;
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 72px;
height: 72px;
left: 233px;
top: 2510px;

background: url(.jpg);
border-radius: 100px;


/* Rectangle */

position: absolute;
width: 439px;
height: 1px;
left: 121px;
top: 2628px;

background: #C9C9C9;
border-radius: 0px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 148px;
height: 56px;
left: 267px;
top: 2761px;

background: #FFFFFF;
border: 1px solid #574D9C;
border-radius: 5px;


/* IMAGE */

position: absolute;
width: 479px;
height: 491px;
left: 600px;
top: 2326px;

background: url(.png);
border-radius: 20px;


/* Rectangle */

position: absolute;
width: 958px;
height: 1px;
left: 121px;
top: 2885px;

background: #B2A9EF;
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 1200px;
height: 1111px;
left: 0px;
top: 3136px;

background: #F5F4F2;
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 1080px;
height: 1111px;
left: 60px;
top: 3136px;

background: #574D9C;
border-radius: 0px 0px 19px 19px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 351px;
height: 60px;
left: 121px;
top: 3312px;

background: #FFFFFF;
border: 1px solid #6157AB;
border-radius: 6.8px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 279px;
height: 60px;
left: 488px;
top: 3312px;

border: 1px solid #FFFFFF;
border-radius: 6.8px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 296px;
height: 60px;
left: 783px;
top: 3312px;

border: 1px solid #FFFFFF;
border-radius: 6.8px;


/* Rectangle */

position: absolute;
width: 752px;
height: 643px;
left: 224px;
top: 3460px;

background: #FFFFFF;
border-radius: 12px;


/* Rectangle */

position: absolute;
width: 324px;
height: 572px;
left: 256px;
top: 3492px;

border-radius: 12px;


/* IMAGE */

position: absolute;
width: 324px;
height: 175px;
left: 256px;
top: 3492px;

background: url(.png);
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 127px;
height: 29px;
left: 453px;
top: 3638px;

background: #333333;
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 40px;
height: 40px;
left: 266px;
top: 3502px;

background: #7569CF;
border-radius: 100px;


/* IMAGE */

position: absolute;
width: 14px;
height: 17px;
left: 279px;
top: 3514px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 2.9%;
right: 2.97%;
top: 4.37%;
bottom: 2.62%;

background: #F9FAFB;


/* Rectangle */

position: absolute;
width: 324px;
height: 397px;
left: 256px;
top: 3667px;

background: rgba(231, 236, 238, 0.27);
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 80px;
height: 1px;
left: 280px;
top: 3710px;

background: #C7C1F3;
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 80px;
height: 1px;
left: 484px;
top: 3710px;

background: #C7C1F3;
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 84px;
height: 67px;
left: 460px;
top: 3751px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 52.07%;
right: 47.56%;
top: 11.27%;
bottom: 87.97%;

background: #FFFFFF;
border: 2.43472px solid #FFFFFF;


/* Vector */

position: absolute;
left: 5.47%;
right: 6.58%;
top: 39.55%;
bottom: 7.27%;

background: #363B3D;


/* Vector */

position: absolute;
left: 39.29%;
right: 39.88%;
top: 0%;
bottom: 67.59%;

background: #363B3D;


/* Vector */

position: absolute;
left: 46.59%;
right: 46.04%;
top: 9.56%;
bottom: 79.67%;

background: #FFFFFF;


/* Rectangle */

position: absolute;
width: 284px;
height: 1px;
left: 280px;
top: 3842px;

background: #C7C1F3;
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 135px;
height: 54px;
left: 628px;
top: 3875px;

background: #7569CF;
border-radius: 5px;


/* Rectangle */

position: absolute;
width: 285px;
height: 1px;
left: 628px;
top: 3992px;

background: #9AA6AC;
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 24px;
height: 30px;
left: 628px;
top: 4018px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 31.24%;
right: 31.26%;
top: 25%;
bottom: 75%;

border: 1.5px solid #636769;


/* Vector */

position: absolute;
left: 31.24%;
right: 31.26%;
top: 37.5%;
bottom: 62.5%;

border: 1.5px solid #636769;


/* Vector */

position: absolute;
left: 31.24%;
right: 46.89%;
top: 50%;
bottom: 50%;

border: 1.5px solid #636769;


/* Vector */

position: absolute;
left: 12.49%;
right: 12.51%;
top: 3.12%;
bottom: 3.12%;

border: 1.5px solid #636769;


/* Vector */

position: absolute;
left: 12.49%;
right: 12.51%;
top: 78.12%;
bottom: 21.88%;

border: 1.5px solid #636769;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: 564px;
top: 4143px;

background: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 100px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: 592px;
top: 4143px;

border: 1px solid #FFFFFF;
border-radius: 100px;


/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: 620px;
top: 4143px;

border: 1px solid #FFFFFF;
border-radius: 100px;


/* IMAGE */

position: absolute;
width: 94px;
height: 94px;
left: 80px;
top: 3480px;

background: url(.png);
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 94px;
height: 94px;
left: 1026px;
top: 3480px;

background: url(.png);
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 1200px;
height: 552px;
left: 0px;
top: 4247px;

background: #F5F4F2;
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 234px;
height: 64px;
left: 218px;
top: 4601px;

background: #000000;
border-radius: 7px;


/* IMAGE */

position: absolute;
width: 147px;
height: 45px;
left: 262px;
top: 4610px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 0.34%;
right: 0.34%;
top: 0%;
bottom: 0%;

background: url(image0_1460_452.png);


/* Vector */

position: absolute;
left: 0.34%;
right: 0.34%;
top: 0%;
bottom: 0%;

background: url(image0_1460_452.png);


/* IMAGE */

position: absolute;
width: 450px;
height: 469px;
left: 628px;
top: 4330px;

background: url(.png);
border-radius: 0px;


/* Rectangle */

position: absolute;
width: 1200px;
height: 633px;
left: 0px;
top: 4799px;

background: #050302;
border-radius: 0px;


/* IMAGE */

position: absolute;
width: 120px;
height: 26px;
left: 60px;
top: 4859px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 0%;
right: 1.03%;
top: 5%;
bottom: 6.25%;

background: #FFFFFF;


/* IMAGE */

position: absolute;
width: 202px;
height: 71px;
left: 60px;
top: 5251px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 14.94%;
right: 78.73%;
top: 31.25%;
bottom: 43.4%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 16.29%;
right: 74.48%;
top: 5.63%;
bottom: 54.4%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 13.16%;
right: 74.7%;
top: 58.54%;
bottom: 32.34%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 28.39%;
right: 71.09%;
top: 87.71%;
bottom: 10.01%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 29.03%;
right: 70.27%;
top: 87.85%;
bottom: 10.01%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 10.14%;
right: 84.2%;
top: 71.02%;
bottom: 9.94%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 16.39%;
right: 77.93%;
top: 71.02%;
bottom: 9.94%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 22.66%;
right: 71.66%;
top: 71.02%;
bottom: 9.94%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 58.97%;
right: 38.41%;
top: 38.96%;
bottom: 56.55%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 47.54%;
right: 49.89%;
top: 67.73%;
bottom: 27.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.75%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 41.38%;
right: 57.13%;
top: 39.97%;
bottom: 54.2%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 70.67%;
right: 26.74%;
top: 38.96%;
bottom: 50.38%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 47.54%;
right: 50.08%;
top: 61.29%;
bottom: 35.41%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 90.9%;
right: 6.51%;
top: 38.96%;
bottom: 50.38%;

background: #FFFFFF;


/* Rectangle */

position: absolute;
width: 356px;
height: 30px;
left: 433px;
top: 5283px;

border-radius: 0px;


/* IMAGE */

position: absolute;
width: 21px;
height: 21px;
left: 1029px;
top: 5258px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* IMAGE */

position: absolute;
width: 21px;
height: 21px;
left: 1103px;
top: 5258px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* IMAGE */

position: absolute;
width: 1px;
height: 1px;
left: 0px;
top: 5432px;

background: url(.gif);
border-radius: 0px;


/* Agents */
.agent{
position: absolute;
width: 59px;
height: 30px;
left: 438px;
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #636769;
}




/* Homebuyers */
.homebuy{
position: absolute;
width: 104px;
height: 30px;
left: 565px;
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #636769;
}




/* Resources */

position: absolute;
width: 85px;
height: 30px;
left: 737px;
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #636769;



/* Log In */

position: absolute;
width: 49px;
height: 30px;
left: 890px;
top: 23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* identical to box height, or 176% */

color: #636769;



/* Sign up now */

position: absolute;
width: 110px;
height: 30px;
left: 1007px;
top: 27px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */
letter-spacing: 0.5px;
text-transform: capitalize;

color: #FFFFFF;



/* Providing certainty on the journey to homeownership. */

position: absolute;
width: 616px;
height: 212px;
left: 60px;
top: 180px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 70px;
/* or 110% */
letter-spacing: 1px;

color: #363B3D;



/* Guarantee your home closes with cash-backed, contingency-free offers for buyers, sellers, their agents, and loan officers. */

position: absolute;
width: 599px;
height: 68px;
left: 60px;
top: 439px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
/* or 170% */
letter-spacing: 0.05px;

color: #636769;



/* Sign up now */

position: absolute;
width: 110px;
height: 30px;
left: 84px;
top: 554px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */
letter-spacing: 0.5px;
text-transform: capitalize;

color: #FFFFFF;



/* Learn more */

position: absolute;
width: 93px;
height: 30px;
left: 266px;
top: 551px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */
text-transform: capitalize;

color: #6157AB;



/* FEATURED IN */

position: absolute;
width: 89px;
height: 17px;
left: 60px;
top: 715px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
letter-spacing: 2px;
text-transform: uppercase;

color: #96979A;



/* Who we empower */

position: absolute;
width: 424px;
height: 65px;
left: 388px;
top: 981px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 65px;
/* identical to box height, or 125% */
text-align: center;
letter-spacing: 0.675px;

color: #333333;



/* BuyEr's AgentS */

position: absolute;
width: 164px;
height: 30px;
left: 130px;
top: 1108px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 2.32px;
text-transform: uppercase;

color: #6157AB;



/* Buyers */

position: absolute;
width: 74px;
height: 30px;
left: 370px;
top: 1108px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 2.32px;
text-transform: uppercase;

color: #7A858A;



/* Listing agents */

position: absolute;
width: 163px;
height: 30px;
left: 519px;
top: 1108px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 2.32px;
text-transform: uppercase;

color: #7A858A;



/* sellers */

position: absolute;
width: 82px;
height: 30px;
left: 758px;
top: 1108px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 2.32px;
text-transform: uppercase;

color: #7A858A;



/* Loan officers */

position: absolute;
width: 154px;
height: 30px;
left: 916px;
top: 1108px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 2.32px;
text-transform: uppercase;

color: #7A858A;



/* BuyER's agents */

position: absolute;
width: 164px;
height: 24px;
left: 685px;
top: 1316px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 2.32px;
text-transform: uppercase;

color: #574D9C;



/* Give your buyers the certainty of cash */

position: absolute;
width: 367px;
height: 104px;
left: 685px;
top: 1437px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
/* or 130% */

color: #363B3D;



/* Waive common contingencies, including the home-sale contingency, to allow your buyers to make their strongest offer in any market. */

position: absolute;
width: 381px;
height: 120px;
left: 685px;
top: 1573px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 30px;
/* or 143% */

color: #636769;



/* Get Certified Today */

position: absolute;
width: 175px;
height: 30px;
left: 709px;
top: 1735px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */
letter-spacing: 0.5px;

color: #FFFFFF;



/* Keep Your Commission */

position: absolute;
width: 209px;
height: 19px;
left: 141px;
top: 2020px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 135% */
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;

color: #6157AB;



/* Write More Winning Offers */

position: absolute;
width: 190px;
height: 38px;
left: 505px;
top: 2021px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 135% */
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;

color: #6157AB;



/* Guaranteed to Close */

position: absolute;
width: 202px;
height: 19px;
left: 853px;
top: 2020px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 135% */
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;

color: #6157AB;



/* You’re in good company */

position: absolute;
width: 558px;
height: 65px;
left: 321px;
top: 2194px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 51px;
line-height: 65px;
/* identical to box height, or 127% */
text-align: center;
letter-spacing: 0.675px;

color: #323A5B;



/* “Ribbon is a huge advantage for you as the buyer's agent - and definitely gives you the extra edge needed to have your buyer's offer accepted." */

position: absolute;
width: 436px;
height: 168px;
left: 123px;
top: 2331px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 42px;
/* or 162% */
text-align: center;
letter-spacing: 0.005px;

color: #1E2224;



/* Edgar Gonzalez */

position: absolute;
width: 129px;
height: 17px;
left: 319px;
top: 2523px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
letter-spacing: 2px;
text-transform: uppercase;

color: #636769;



/* eXp Realty */

position: absolute;
width: 96px;
height: 30px;
left: 319px;
top: 2539px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

color: #636769;



/* Agents love us because we empower their buyers with cash and don't compete for their commissions. */

position: absolute;
width: 425px;
height: 60px;
left: 128px;
top: 2673px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */
text-align: center;

color: #363B3D;



/* Learn More */

position: absolute;
width: 98px;
height: 30px;
left: 292px;
top: 2774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */
letter-spacing: 0.5px;

color: #574D9C;



/* 7,000+ */

position: absolute;
width: 211px;
height: 105px;
left: 153px;
top: 2926px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 69px;
line-height: 104px;
/* or 151% */

color: #323A5B;



/* Homes Purchased */

position: absolute;
width: 167px;
height: 19px;
left: 175px;
top: 3029px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 135% */
letter-spacing: 2px;
text-transform: uppercase;

color: #323A5B;



/* 30,000+ */

position: absolute;
width: 261px;
height: 105px;
left: 485px;
top: 2926px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 104px;
/* or 144% */

color: #323A5B;



/* Agents */

position: absolute;
width: 69px;
height: 19px;
left: 581px;
top: 3029px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 135% */
letter-spacing: 2px;
text-transform: uppercase;

color: #323A5B;



/* $5 B+ */

position: absolute;
width: 180px;
height: 105px;
left: 867px;
top: 2926px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 104px;
/* or 149% */

color: #323A5B;



/* Buying Power */

position: absolute;
width: 130px;
height: 19px;
left: 892px;
top: 3029px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 135% */
letter-spacing: 2px;
text-transform: uppercase;

color: #323A5B;



/* Our solutions */

position: absolute;
width: 314px;
height: 65px;
left: 443px;
top: 3208px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 51px;
line-height: 65px;
/* identical to box height, or 127% */
text-align: center;
letter-spacing: 0.675px;

color: #FFFFFF;



/* Turn an offer to all cash */

position: absolute;
width: 289px;
height: 30px;
left: 152px;
top: 3327px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 2.32px;
text-transform: uppercase;

color: #574D9C;



/* Buy before you sell */

position: absolute;
width: 217px;
height: 30px;
left: 519px;
top: 3327px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 2.32px;
text-transform: uppercase;

color: #FFFFFF;



/* Save an existing deal */

position: absolute;
width: 234px;
height: 30px;
left: 814px;
top: 3327px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 2.32px;
text-transform: uppercase;

color: #FFFFFF;



/* ORLANDO, FL */

position: absolute;
width: 94px;
height: 17px;
left: 471px;
top: 3642px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 150% */
letter-spacing: 2px;

color: #ECEAF8;



/* home won with */

position: absolute;
width: 111px;
height: 30px;
left: 366px;
top: 3695px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 30px;
/* identical to box height, or 273% */
letter-spacing: 1.1px;
text-transform: uppercase;

color: #363B3D;



/* The buyer */

position: absolute;
width: 45px;
height: 60px;
left: 280px;
top: 3872px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 30px;
/* or 273% */

color: #363B3D;



/* won her dream house in multiple-offers situation. */

position: absolute;
width: 180px;
height: 44px;
left: 374px;
top: 3872px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 135% */

color: #636769;



/* The seller */

position: absolute;
width: 43px;
height: 60px;
left: 280px;
top: 3964px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 30px;
/* or 273% */

color: #363B3D;



/* got a guaranteed closing with no contingencies. */

position: absolute;
width: 181px;
height: 44px;
left: 374px;
top: 3964px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 135% */

color: #636769;



/* Turn an offer to all cash */

position: absolute;
width: 266px;
height: 71px;
left: 628px;
top: 3611px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 35px;
/* or 110% */
letter-spacing: 0.16px;

color: #2B2B2B;



/* Once your buyer is preapproved, upgrade your buying power to cash to make your strongest offer, first. */

position: absolute;
width: 285px;
height: 90px;
left: 628px;
top: 3719px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */

color: #636769;



/* Learn more */

position: absolute;
width: 87px;
height: 30px;
left: 652px;
top: 3886px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.5px;

color: #FFFFFF;



/* Read the success story */

position: absolute;
width: 172px;
height: 30px;
left: 663px;
top: 4018px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

color: #6157AB;



/* Everything you need is only a tap away */

position: absolute;
width: 405px;
height: 96px;
left: 133px;
top: 4365px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
/* or 120% */
text-align: center;

color: #363B3D;



/* Ribbon let’s you write an offer anytime, anywhere — right from your mobile device. */

position: absolute;
width: 391px;
height: 60px;
left: 140px;
top: 4496px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */
text-align: center;

color: #363B3D;



/* Agents */

position: absolute;
width: 62px;
height: 30px;
left: 276px;
top: 4858px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
/* identical to box height, or 214% */
letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;



/* Buying */

position: absolute;
width: 55px;
height: 30px;
left: 276px;
top: 4908px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Listing */

position: absolute;
width: 54px;
height: 30px;
left: 276px;
top: 4948px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* iOS App */

position: absolute;
width: 67px;
height: 30px;
left: 276px;
top: 4988px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Get Certified */

position: absolute;
width: 109px;
height: 30px;
left: 276px;
top: 5028px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Homebuyers */

position: absolute;
width: 101px;
height: 30px;
left: 449px;
top: 4858px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
/* identical to box height, or 214% */
letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;



/* Buyers */

position: absolute;
width: 55px;
height: 30px;
left: 449px;
top: 4908px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Buy Before You Sell */

position: absolute;
width: 155px;
height: 30px;
left: 449px;
top: 4948px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* identical to box height, or 176% */

color: #FFFFFF;



/* New Construction */

position: absolute;
width: 150px;
height: 30px;
left: 449px;
top: 4988px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Rescue Your Closing */

position: absolute;
width: 164px;
height: 30px;
left: 449px;
top: 5028px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* identical to box height, or 176% */

color: #FFFFFF;



/* Sellers */

position: absolute;
width: 54px;
height: 30px;
left: 449px;
top: 5068px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Partners */

position: absolute;
width: 76px;
height: 30px;
left: 622px;
top: 4858px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
/* identical to box height, or 214% */
letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;



/* Lenders */

position: absolute;
width: 65px;
height: 30px;
left: 622px;
top: 4908px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Builders */

position: absolute;
width: 65px;
height: 30px;
left: 622px;
top: 4948px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* identical to box height, or 176% */

color: #FFFFFF;



/* Brokerages */

position: absolute;
width: 94px;
height: 30px;
left: 622px;
top: 4988px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Resources */

position: absolute;
width: 89px;
height: 30px;
left: 794px;
top: 4858px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
/* identical to box height, or 214% */
letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;



/* Pricing */

position: absolute;
width: 56px;
height: 30px;
left: 794px;
top: 4908px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* FAQs */

position: absolute;
width: 43px;
height: 30px;
left: 794px;
top: 4948px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* How it works */

position: absolute;
width: 106px;
height: 30px;
left: 794px;
top: 4988px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Blog */

position: absolute;
width: 37px;
height: 30px;
left: 794px;
top: 5028px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Guides */

position: absolute;
width: 57px;
height: 30px;
left: 794px;
top: 5068px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Webinars */

position: absolute;
width: 77px;
height: 30px;
left: 794px;
top: 5108px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* ABOUT */

position: absolute;
width: 53px;
height: 30px;
left: 967px;
top: 4858px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
/* identical to box height, or 214% */
letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;



/* Mission */

position: absolute;
width: 60px;
height: 30px;
left: 967px;
top: 4908px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* identical to box height, or 176% */

color: #FFFFFF;



/* Culture */

position: absolute;
width: 62px;
height: 30px;
left: 967px;
top: 4948px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Careers */

position: absolute;
width: 65px;
height: 30px;
left: 967px;
top: 4988px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */

color: #FFFFFF;



/* Press */

position: absolute;
width: 43px;
height: 30px;
left: 967px;
top: 5028px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* identical to box height, or 176% */

color: #FFFFFF;



/* Click for Review */

position: absolute;
width: 114px;
height: 30px;
left: 60px;
top: 5321px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

color: #F5F4F2;



/* Terms */

position: absolute;
width: 45px;
height: 30px;
left: 433px;
top: 5252px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

color: #FFFFFF;



/* Privacy */

position: absolute;
width: 51px;
height: 30px;
left: 494px;
top: 5252px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */

color: #FFFFFF;



/* Copyright 2022 Ribbon Home Inc, All Rights Reserved. */

position: absolute;
width: 350px;
height: 30px;
left: 433px;
top: 5282px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
/* identical to box height, or 214% */

color: #E7ECEE;

